:root {
    --main-color: #294563;
    --speaking-color: #c76378;
    --listening-color: #32b4c8;
    --writing-color: #f9a95a;
    --reading-color: #37854d;
    --primary-gradient: linear-gradient(180deg, #294563 0%, rgb(23, 38, 54) 100%);
    --reading-gradient: linear-gradient(180deg, #337845 0%, #265a35 100%);
    --listening-gradient: linear-gradient(180deg, #33b2c7 0%, #268695 100%);
    --writing-gradient: linear-gradient(180deg, #faa859 0%, #bb7f44 100%);
    --speaking-gradient: linear-gradient(180deg, #c86478 0%, #954b5a 100%);
    --font: "Nunito", "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
    --primary-font: "Montserrat", Helvetica, Arial, sans-serif;
}

/* ==================== Reset styles ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
}

body {
    font-family: var(--font);
}

/* ==================== Header ==================== */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    margin-right: 30px;
    padding: 2px 0px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.header_for_mobile {
    display: none;
}

.site_logo {
    width: 190px;
}

/* ==================== Navigation menu ==================== */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-color);
    padding: 5px;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

nav a img {
    margin-top: 5px;
    width: 26px;
}

nav button {
    background-color: transparent !important;
    border: none !important;
    font-weight: 600 !important;
}

nav ul {
    background: linear-gradient(to bottom, var(--main-color), #284664db);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: -14px 9px 36px -14px #97a9bb;
}

nav ul li {
    min-width: 210px !important;
}

nav ul {
    background-color: var(--speaking-color) !important;
}

nav ul li a {
    font-weight: 800 !important;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 800 !important;
    padding: 0px 10px !important;
    position: relative !important;
    line-height: 50px !important;
    height: 50px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    text-decoration: none !important;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

/* ==================== Main style code ==================== */
#main_swiper {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    margin-top: 50%;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
}

/*   First slide 'HERO' style code  */
.slider_content_hero_page {
    display: flex;
    background-image: url("https://ieltsonlinetests.com/themes/iot/images/hero-background/hero-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-family: var(--font);
    width: 100%;
    height: 530px;
}

/* Slide HERO text content part style code */
.text_content_part {
    text-align: left;
    max-width: 570px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.text_content_part .title {
    font-family: var(--primary-font);
    font-size: 46px;
    color: #e8e8e8;
    margin: 0 0 21px;
}

.text_content_part .title h1 {
    font-size: 46px;
    font-weight: 300;
}

.text_content_part .more_info {
    font-size: 18px;
    line-height: 1.4;
    color: var(--listening-color);
    margin: 0 0 27px;
}

.text_content_part .more_info strong {
    font-family: "Nunito", "Helvetica Neue", "Roboto", Helvetica, Arial,
        sans-serif;
    color: white;
    font-weight: 800;
}

.text_content_part .students_part {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.67;
    letter-spacing: 0.23px;
    color: #f3f3f3;
    margin-bottom: 29px;
}

.text_content_part .students_part img {
    max-width: 41px;
    margin-right: 10px;
}

.text_content_part .button_part button {
    animation: buttonFadeUp 2s ease-in-out forwards;
    min-width: 179px;
    height: 58px;
    line-height: 58px;
    font-weight: bolder;
    border-radius: 28.5px;
    background-color: #faaa5a;
    font-size: 16px;
    letter-spacing: 0.44px;
    color: #284664;
    border: none;
}

/* Slide 'HERO' animation part style code */
.animation_part {
    position: relative;
    min-width: 50%;
    max-width: 50%;
}

/* Hero Animation */
.hero_animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_animation .hero {
    position: relative;
    z-index: 2;
    width: 66px;
    margin-left: 10px;
    -webkit-animation-name: movePerson;
    animation-name: movePerson;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

/* Arrows animation style code */
.arrows * {
    position: absolute;
    -webkit-animation-name: moveArrowDistance;
    animation-name: moveArrowDistance;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.hero_animation .arrow_hero_1 {
    width: 166px;
    -webkit-animation-name: moveArrow;
    animation-name: moveArrow;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

.arrows .arrow_hero_2 {
    top: 75%;
    left: 19%;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.arrows .arrow_hero_3 {
    top: 80%;
    left: 65%;
    -webkit-animation: moveArrowDistance15 20s infinite linear;
    animation: moveArrowDistance15 20s infinite linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.arrows .arrow_hero_4 {
    top: 40.4%;
    left: 62.1%;
    -webkit-animation: moveArrowDistance15 15s infinite linear;
    animation: moveArrowDistance15 15s infinite linear;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.arrows .arrow_hero_5 {
    top: 39.5%;
    left: 23.9%;
    -webkit-animation: moveArrowDistance15 11s infinite linear;
    animation: moveArrowDistance15 11s infinite linear;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.arrows .arrow_hero_6 {
    top: 39.5%;
    left: 34.9%;
    -webkit-animation: moveArrowDistance15 5s infinite linear;
    animation: moveArrowDistance15 5s infinite linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.arrows .arrow_hero_7 {
    top: 42.5%;
    left: 73.9%;
    -webkit-animation: moveArrowDistance15 5s infinite linear;
    animation: moveArrowDistance15 5s infinite linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.arrows .arrow_hero_8 {
    top: 35.5%;
    left: 55.9%;
    -webkit-animation: moveArrowDistance15 13s infinite linear;
    animation: moveArrowDistance15 13s infinite linear;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Lines Animation style code */
.animation_part .lines #line_hero {
    position: absolute;
    -webkit-animation-name: heroLines;
    animation-name: heroLines;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.animation_part .lines .line_hero_1 {
    top: 46%;
    left: 18%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animation_part .lines .line_hero_2 {
    top: 33.5%;
    left: 30.2%;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.animation_part .lines .line_hero_3 {
    top: 31.3%;
    left: 28.1%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animation_part .lines .line_hero_4 {
    top: 19%;
    left: 32%;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animation_part .lines .line_hero_5 {
    top: 8%;
    left: 61%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.animation_part .lines .line_hero_6 {
    top: 32.7%;
    left: 60%;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.animation_part .lines .line_hero_7 {
    top: 43.1%;
    left: 72%;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.animation_part .lines .line_hero_8 {
    top: 76.1%;
    left: 48%;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animation_part .lines .line_hero_9 {
    top: 47.6%;
    left: 10.8%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animation_part .lines .line_hero_10 {
    top: 44.6%;
    left: 64.8%;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.animation_part .lines .line_hero_11 {
    top: 9.4%;
    left: 53%;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.animation_part .lines .line_hero_12 {
    top: 72%;
    left: 41%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.animation_part .lines .line_hero_13 {
    top: 53%;
    left: 66%;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

/*  Slide 'CERTIFICATE' style code */
.certificate_img {
    height: 430px;
    animation: buttonFadeUp 1s;
}


.slider_content_certificate>.content {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.slider_content_certificate .title {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.slider_content_certificate .content_title {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 1rem;
}

.slider_content_certificate .content_info {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 1.2;
}

.slider_content_certificate .content button {
    display: block;
    background: #f9a95a;
    border-radius: 38px;
    height: 58px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    color: #294563;
    text-transform: uppercase;
    border: none;
    margin-top: 3rem;
    animation: buttonFadeUp 1s;
}

/* Canvas stars animation for Slide CERTIFICATE style code */
canvas {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -3;
    background-color: var(--main-color);
}

/* Darkness background for slide CERTIFICATE style code */
.darkness {
    background-color: #223952a1;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 530px;
}

/* Texture for stars animation style code */
.texture {
    position: absolute;
    top: 0;
    z-index: -2;
    background-image: url("https://ieltsonlinetests.com/themes/iot/images/hero-background/hero-bg-5.svg");
    background-size: cover;
    width: 100%;
    height: 530px;
}

/* ==================== Courses page style code ====================  */
.courses {
    max-width: 100vw;
    font-family: var(--primary-font);
}

.courses .courses_card .description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 2;
}

.courses .explore_more button {
    max-width: 211px;
    height: 40px;
    line-height: 40px;
    background-color: #cccccc;
    color: white;
    font-weight: bold;
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.4px;
    border: none;
    margin: 28px auto 31px;
    display: block;
    padding: 0 16px;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.courses .explore_more button:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

/* Courses banner style code */
.courses .banner {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Courses description style code */
.description span {
    font-size: 18;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #294563;
    margin-bottom: 54px;
    margin: 0px 0px 10px 0px;
}

/* Courses title style code */
.courses>.title {
    margin-top: 30px;
    margin-left: 30px;
}

.title h2 {
    margin: 65px 0 11px;
    font-weight: bold;
    line-height: 1.35;
    letter-spacing: 0.3px;
    color: var(--main-color);
    position: relative;
    display: inline-block;
}

.title h2 span {
    font-size: 9px;
    font-weight: 800;
    width: 40px;
    height: 15px;
    line-height: 16px;
    border-radius: 8px;
    background-color: #faaa5a;
    text-transform: uppercase;
}

/* Courses card style code */
.courses_card {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    justify-content: center;
}

.courses_card a {
    max-width: 53%;
    text-decoration: none;
}

.courses_card .darkness {
    position: absolute;
    width: 100%;
    max-height: 215px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.titles_for_course_cards {
    display: flex;
    width: 100%;
}

/* Course 'Writing' card style code */
.writing {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--writing-color);
    border-radius: 0px 4px 4px 4px;
}

.writing:hover {
    box-shadow: 1px 1px 10px var(--writing-color);
}

.title_writing {
    background-color: var(--writing-color);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 15px;
    width: 100%;
    max-width: 166px;
    text-align: left;
}

.writing .content {
    position: relative;
    width: 100%;
    height: 510px;
    overflow: hidden;
}

.writing .course_photo {
    background-size: cover;
}

/* Course 'Reading' card style code */
.reading {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--main-color);
    border-radius: 0px 4px 4px 4px;
}

.reading .teacher_photo {
    border: 2px solid var(--main-color);
}

.reading:hover {
    box-shadow: 1px 1px 10px var(--main-color);
}

.title_reading {
    background-color: var(--main-color);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 15px;
    width: 100%;
    max-width: 166px;
    text-align: left;
}

.reading .content {
    position: relative;
    width: 100%;
    height: 510px;
    overflow: hidden;
}

.reading .course_photo {
    background-image: url('https://iotcdn.oss-ap-southeast-1.aliyuncs.com/styles/webinar_375x215/oss/2024-06/indoor-shot-hosewife-doesn-t-know-what-cook-dinner%20%281%29.jpg');
    background-size: cover;
}

/* Course 'Speaking' card style code */
.speaking {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--speaking-color);
    border-radius: 0px 4px 4px 4px;
}

.speaking .teacher_photo {
    border: 2px solid var(--speaking-color);
}

.speaking:hover {
    box-shadow: 1px 1px 10px var(--speaking-color);
}


.title_speaking {
    background-color: var(--speaking-color);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 15px;
    width: 100%;
    max-width: 166px;
    text-align: left;
}

.speaking .content {
    position: relative;
    width: 100%;
    height: 510px;
    overflow: hidden;
}

.speaking .course_photo {
    background-image: url('https://iotcdn.oss-ap-southeast-1.aliyuncs.com/styles/webinar_375x215/oss/2024-06/boys-having-coffee-restaurant%20%281%29.jpg');
    background-size: cover;
}

/* Course cards global style code */
.course_photo {
    max-height: 215px;
    overflow: hidden;
    background-image: url('https://iotcdn.oss-ap-southeast-1.aliyuncs.com/styles/webinar_375x215/oss/2024-06/job-occupation-freelance-student-girl-writting-paper%20%281%29.jpg');
}

/* Course name style code */
.course_name {
    position: relative;
    z-index: 2;
}

.course_name h3 {
    font-size: 150%;
    line-height: 1.12;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
}

.course_teacher {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.63;
    letter-spacing: 0.5px;
    color: var(--writing-color);
    margin-top: 0;
    position: relative;
    z-index: 2;
}

/* Course`s teacher info style code */
.teacher_info {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

.teacher_info img {
    width: 46px;
    border-radius: 50%;
}

.teacher_info span {
    font-size: 16px;
    line-height: 1;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
    font-weight: bold;
}

/* Teacher photo style code */
.teacher_photo {
    border: 2px solid var(--writing-color);
    width: 150px;
    height: 150px;
    border-radius: 0px 50% 0px 70%;
    overflow: hidden;
}

.teacher_photo img {
    width: 130px;
    position: relative;
    bottom: 10px;
}

/* Teacher photo :hover animation style code */
.teacher_photo:hover img {
    filter: drop-shadow(1px 1px 5px white);
}

/* Course full info style code */
.course_full_info {
    display: flex;
    position: absolute;
    top: 41%;
    z-index: 3;
    min-width: 360px;
    height: 100%;
    background: #fff;
}

.course_full_info ul {
    padding-top: 30px;
    padding-left: 20px;
    min-width: 360px;
    text-align: left !important;
}

.course_full_info ul li {
    display: flex;
    align-items: flex-start;
    margin: 2px;
}

.course_full_info ul li img {
    width: 26px;
    height: 26px;
    padding-bottom: 5px;
}

.course_full_info ul li span {
    padding-left: 20px;
}

.course_full_info>ul .container-fluid {
    position: relative;
    width: 100% !important;
    display: flex;
    justify-content: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.course_full_info ul li button {
    margin-right: 25px !important;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    color: #ffffff;
    width: 75%;
    height: 40px;
    font-family: var(--primary-font);
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    border-radius: 4px;
    border: none;
}

/* Course cards 'JOIN' button style code */
.writing .course_full_info ul li button {
    background-color: var(--writing-color);
}

.reading .course_full_info ul li button {
    background-color: var(--main-color);
}

.speaking .course_full_info ul li button {
    background-color: var(--speaking-color);
}

.course_full_info .list_info {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.2px;
    color: #294563;
    margin-bottom: 20px;
    position: relative;
}

/* ==================== Latest books (for rating) style code ==================== */
#book_for_rating {
    max-width: 23.6%;
    padding: 0px !important;
    margin: 0px;
    margin-bottom: 50px;
    margin-left: 10px;

}

.courses .container {
    overflow: hidden;
}


.lastest .title span {
    color: #294563;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    font-family: var(--primary-font);
    font-weight: 700;
    text-align: left;
}

#lastest_book {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.lastest_books img {
    border-radius: 5px;
    border: 3px solid #d4dae0;
    max-width: 100%;
    max-height: 270px;
    margin-bottom: 20px;
}

.lastest_books .book_name {
    color: #294563;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.lastest_books a {
    text-decoration: none;
}

/* Lastest card rating style code */
.lastest_books .form {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    background-color: red;
    padding: 10px 15px;
    display: inline-block;
}

.form__btn {
    margin-top: 20px;
}

.form-section {
    margin: 20px 0;
}

.form__item {
    margin-bottom: 30px;
    border: 1px solid red;
}

.form__title {
    margin-bottom: 15px;
}

.simple-rating {
    display: inline-block;
    font-size: 40px;
    position: relative;
}

.simple-rating::before {
    content: "★★★★★";
    display: block;
}

.simple-rating__items {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.simple-rating__item {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0%;
    height: 0%;
    top: 0;
    left: 0;
}

.simple-rating__label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: #fff;
}

.simple-rating__label::before {
    content: "★";
    display: block;
    transition: color 0.3s ease 0s;
}

.simple-rating__item:checked,
.simple-rating__item:checked~.simple-rating__label {
    color: gold;
}

.simple-rating__label:hover,
.simple-rating__label:hover~.simple-rating__label,
.simple-rating__label:checked~.simple-rating__label:hover {
    color: #ffef9f;
}

/* rating js */
.rating {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    line-height: 0.75;
}

.rating__body {
    position: relative;
}

.rating__body::before {
    content: "★★★★★";
    display: block;
}

.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: var(--writing-color);
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}

.rating__value {
    font-size: 70%;
    color: var(--writing-color);
    line-height: 1;
}

/* ==================== company tips style code ==================== */
#btn-container {
    display: flex;
    justify-content: center;
}


.tip_item {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 50px 0 rgba(41, 69, 99, 0.08);
}

.tips button {
    height: 44px;
    min-width: 136px;
    color: #294563;
    border-radius: 4px;
    background-color: var(--writing-color);
    font-family: var(--primary-font);
    font-weight: bold;
    border: none;
    margin-bottom: 40px;
    transition: all 0.3s ease-in-out;
}

.tips button:hover {
    background-color: #eeb47a;
}

.tips {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main-color);
}

.tips .col-md-6 {
    width: 48% !important;
}

.tips h2 {
    font-size: 36px;
    line-height: 1.2;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
    margin: 50px 0px;
}

.tips .rating__body {
    display: flex;
    margin-top: 23px;
}

.tips_box {
    display: flex;
    flex-wrap: wrap;
}

/* Tip item title style code */
.tip_item .title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
    max-height: 100px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    color: #294563;
    margin: 0 0 15px;
}

.tip_item .title .rating-item {
    display: flex;
    justify-content: left;
    align-items: flex-end;
}

.tip_item .title img {
    border-radius: 10px;
    margin-right: 20px;
    width: 300px;
    height: 100px;
    display: inline-block;
    object-fit: cover;
}

.tip_item .description {
    font-size: 14px;
}

.tip_item .footer {
    display: flex;
    justify-content: space-between;
}

.tip_item .footer img {
    width: 24px;
}

/* Tip item text content style code */
.tip_item .text_part span {
    font-size: 20px;
}

/* ==================== Why Using page style code ==================== */
.why_using {
    background: linear-gradient(0deg, #F3F3F3 0%, #F3F3F3 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F3F3 100%);
}

.why_using h2 {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    color: #294563;
    min-height: 30px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.why_using .content {
    text-align: center;
    padding-bottom: 60px;
}

.why_using .content img {
    width: 60px;
    height: 60px;
}

.why_using .content h3 {
    font-weight: 700;
    color: #294563;
    min-height: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.why_using .content-item_1 {
    margin-top: 30px;
}

/* ==================== Facts page style code ==================== */
.facts>.title h2 {
    color: #294563;
    font-size: 20px;
    margin: 60px 0px 20px 0px;
    font-family: var(--primary-font);
    font-weight: 700;
}

.facts .fact_item {
    display: flex;
    align-items: center;
    min-height: 60px;
    margin: 40px 0px;
}

.facts .fact_icon img {
    width: 60px;
    margin-right: 20px;
}

.facts .fact_text {
    display: flex;
    flex-direction: column;
}

.facts .fact_text span {
    font-size: 30px;
    color: #404040;
    font-weight: 300;
    margin: 0px;
}

.fact .fact_text strong {
    color: var(--main-color);
    font-family: var(--primary-font);
}

/* ==================== Say page (students) style code ==================== */
.say {
    background: linear-gradient(0deg, #F3F3F3 0%, #F3F3F3 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F3F3F3 100%);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.say section {
    text-align: center;
}

.say>.title h2 {
    color: #294563;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    font-family: var(--primary-font);
    font-weight: 700;
}

.say .content {
    overflow: hidden;
}

.say .say_item {
    text-align: center;
    margin: 20px 0px;
    max-width: 380px;
}

.say .say_icon img {
    display: block;
    max-width: 60px;
    max-height: 60px;
    margin: 0 auto;
    border-radius: 50%;
}

.say .say_name {
    font-weight: 600;
    color: #294563;
}

.say .say_item p {
    font-size: 20px;
    color: #888888;
    font-style: italic;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px;
}

.say button {
    height: 48px;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0 16px;
    margin-bottom: 60px;
    background-color: var(--main-color);
    font-family: var(--primary-font);
    color: #fff;
    font-weight: bold;
    border: none;
}

/* Owl Carousel style code */
.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item {
    display: flex;
    flex: 1 0 auto;
}

.owl-carousel .thumbnail {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.owl-carousel .thumbnail .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.owl-carousel .thumbnail .caption .flex-text {
    flex-grow: 1;
}

.owl-nav {
    display: none;
}

.owl-dots .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 6px;
    background-color: var(--main-color);
    opacity: 0.7;
    border: 0;
}

.owl-dots .owl-dot.active {
    opacity: 1;
}

/* ==================== Features page style code ====================  */
.features .features_content {
    background: linear-gradient(0deg, #F3F3F3 0%, #F3F3F3 100%);
    padding-top: 50px;
    position: relative;
}

.features .col-md-12 {
    padding: 0px;
}

.features .features_item {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.features .features_item img {
    min-width: 500px;
    min-height: 300px;
}

.features .features_item .text_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    text-align: center;
    flex: 1;
    justify-content: center;
    background: #fff;
}

.features .features_item h3 {
    font-size: 16px;
    font-weight: 600;
    color: #294563;
    margin: 0 0 4rem;
    line-height: 1.4;
    font-family: var(--primary-font);
}

.features .features_item span {
    margin: 0px 0px 10px;
    max-width: 390px;
}

/* ==================== Partners page style code ==================== */
.flex-grid {
    --spacing: 20px;
    --columns: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1* var(--spacing));
}

.flex-grid>* {
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
}

.partner .title h2 {
    margin-top: 30px;
    font-size: 35px;
}

.partner .content {
    display: flex;
    align-items: center;
}

.partner .content .text_part {
    max-width: 205px;
}

.partner .content .partners_part {
    display: flex;
    flex-wrap: wrap;
}

.partner .content .partner_logo {
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner .content .partners_part img {
    max-height: 80px;
}


/* Nav Tab style code */
.nav-tabs {
    border-radius: 4px;
    background-color: var(--main-color);
    overflow: hidden;
}

.nav-tabs li {
    flex: 1;
}

.nav-link {
    display: flex;
    align-items: center;
    border: 0px !important;
    border-radius: 0px !important;
    padding: 13px !important;
    width: 100% !important;
    display: inline-block !important;
    text-align: center !important;
    color: white !important;
}

.nav-link.active {
    background-color: var(--writing-color) !important;
    color: var(--main-color) !important;
}

.tab-pane.show {
    background-color: #e0e0e0;
}

/* ========== Form style code ===== */
.sending_form {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
}

.sending_form form {
    display: flex;
    width: 100%;
    max-width: 580px;
    margin: 50px auto;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    background: #FFF;
    padding: 40px;
    align-items: stretch;
    max-width: 580px;
    min-width: 580px;
    box-shadow: 1px 1px 10px rgba(41, 69, 99, 0.08);
}

.sending_form form .user_roles_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sending_form form input,
select {
    display: flex;
    height: 40px;
    padding: 6px 20px;
    min-width: calc(100% + 20px);
    box-shadow: none;
    border-radius: 100px;
    border: 1px solid var(--primary-primary-100, #BDC5CF);
    background: #FFF;
    align-items: center;
    gap: 10px;
}

.sending_form form input:focus {
    border-color: var(--listening-color);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 180, 200, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 180, 200, 0.6);
}

.sending_form form textarea {
    height: 170px;
    border-radius: 20px;
    padding: 8px 20px;
}

.sending_form form textarea:focus {
    border-color: var(--listening-color);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 180, 200, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(50, 180, 200, 0.6);
}

/* Captcha style code */
.sending_form .captcha {
    border: 1.5px solid #ddd;
}

.sending_form .captcha>.title {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-radius: 3px 3px 0px 0px;
}

.sending_form .captcha>.title h2 {
    font-size: 14px;
    font-weight: bold;
    margin: auto 0;
    color: var(--main-color);
    font-family: var(--primary-font);
}


.sending_form .captcha>.content {
    padding: 10px;
}

.sending_form .captcha>.content .title p {
    font-weight: bold;
    color: var(--main-color);
    margin: 6px 0px;
}

.sending_form .captcha>.content .restult {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sending_form .captcha>.content .restult input {
    max-width: 70%;
    min-width: 70%;
    height: 30px;
    margin-right: 10px;
}

.sending_form .captcha>.content .description p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--main-color);
    opacity: .6;
    font-family: var(--primary-font);
}

.sending_form button {
    width: 160px;
    height: 44px;
    background: linear-gradient(180deg, #294563 0%, #172636 100%);
    font-weight: bold;
    font-size: 16px;
    font-family: var(--font);
    color: white;
    border: none;
    border-radius: 30px;
    margin: 10px auto;
    transition: all .5s ease-in-out;
}

.sending_form button:hover {
    box-shadow: 1px 1px 10px black;
}

/* ========== Footer style code ===== */
footer {
    background-color: var(--main-color);
    padding-top: 70px;
}

/* Footer navigation panel style code */
footer .nav_footer {
    display: flex;
    flex-direction: column;
}

footer .nav_footer select {
    height: 46px !important;
    line-height: 46px !important;
    max-width: 160px !important;
    min-width: 160px !important;
    border-radius: 4px;
    border: solid 1px #cccccc;
    background-color: #fff;
    font-size: 13px;
    font-weight: 800 !important;
    font-family: var(--font);
    color: var(--main-color);
    padding: 0 12px;
    margin: 10px 0px;
}

footer ul {
    padding-left: 0px !important;
}

footer ul li {
    list-style: none;
    margin: 0px 0px 13px 0px;
}

footer .nav_footer ul li a {
    font-family: var(--font);
    font-weight: 800;
    color: #7e90a2;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    transition: all .4s ease;
}

footer .nav_footer ul li a:hover {
    color: white !important;
}

footer .nav_footer>select option {
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: var(--font);
    color: var(--main-color);
    padding: 6px 15px;
}

/* About container style code */
footer .box-about h3 {
    margin: 0px 0px 0px 0px;
    color: #fff;
    font-weight: 700;
    font-family: var(--primary-font);
}

footer .box-about p {
    margin: 10px 0px;
    color: #fff;
    font-size: 14px;
    font-family: var(--primary-font);
}

/* Follow container style code */
footer .box-follow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

footer .box-follow h3 {
    color: #fff;
    font-weight: 700;
    margin-right: 20px;
}

footer .box-follow a {
    display: inline-block;
    width: 25px;
    height: 25px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    border-radius: 50%;
    color: #294563;
    text-align: center;
    line-height: 25px;
    background-color: #fff;
    margin: 0px 10px;
    font-size: 15px;
}



/* Copy right style code */
footer .copy-right {
    font-size: 12px;
    color: #d9d9d9;
}

footer #copy-right-company {
    width: 100%;
    text-align: center;
}

footer #copy-right-company a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* Scroll style code */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 3px;
    box-shadow: 1px 1px 10px var(--listening-color);
}

/* Animations */
@keyframes arrow {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(90deg);
    }

    75% {
        transform: rotate(135deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes heroLines {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200%, -200%, 0) scale3d(1, 1, 1);
        transform: translate3d(200%, -200%, 0) scale3d(1, 1, 1);
    }

    50% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(-200%, 200%, 0) scale3d(0, 0, 0);
        transform: translate3d(-200%, 200%, 0) scale3d(0, 0, 0);
    }
}

@keyframes movePerson {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0) scale3d(0.7, 0.7, 0.7);
        transform: translate3d(-100%, 100%, 0) scale3d(0.7, 0.7, 0.7);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    }
}

@keyframes moveArrow {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 100%, 0);
        transform: translate3d(-100%, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes moveArrowDistance {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        transform: translate3d(70px, -70px, 0);
    }
}

@keyframes moveArrowDistance15 {
    0% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }

    50%,
    90% {
        opacity: 1;
    }

    100% {
        transform: translate3d(150px, -150px, 0);
        opacity: 0;
    }
}

@keyframes buttonFadeUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}